/* total width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 40%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0 0 0 / 60%);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
